

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, .1fr));
  justify-content: center;
  align-items: center;
  margin: 40px;
}


a{
  text-decoration: none;
  color: var(--txt) ;
}


.card{
  margin-top: 20px;
  width: 320px;
  border-radius: 5px;
}

.card p{
  margin: 20px;
  font-weight: var(--weight);
}

.ri-shopping-cart-line{
  font-size: 1.2rem;
}

.card .btn{

  color: var(--btn-txt);
  margin: 20px;
  outline: none;
  border: none;
  background-color: var(--btn);
  padding: 15px 20px;
  cursor: pointer;


}





.info{
  position: relative;

}

.card img{
  width: 320px;

}


@media (max-width: 768px) {

.grid-container{
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, .1fr));
  justify-content: center;

}

a{
  width: 200px;
}

.card{
  width: 200px;
  border: none;
}

.card img{
  width: 200px;

}

}

@media (max-width: 375px) {

.grid-container{
  grid-template-columns: repeat(2, minmax(190px, 1fr));
  overflow: hidden;
}

a{
  width: 190px;
}

.card{
  width: 190px;
}

.card img{
  width: 190px;

}

}