:root {
  --txt: white;
}

.products {
  margin: 50px;
  font-family: "Intel One Mono", monospace;
  font-weight: 500;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lable {
  font-size: 24px;
  margin: 20px 50px;
}

.product-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
  width: 100%;
  max-width: 1200px;
}

.product-card {
  font-family: "Intel One Mono", monospace;
  font-weight: 500;
  font-style: normal;
  background-color: #f9f9f9;
  text-align: center;
  padding: 10px;
}

.pro1 {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.price {
  margin: 5px 0;
}

.btn {
  background-color: rgba(23, 23, 23, 0.584);
  outline: none;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  color: var(--txt);
  cursor: pointer;
}
