.bar{
    background-color: rgba(31, 31, 31, 0.228);
    height: 2pc;
    width: 3px;
    margin:20px ;
}

.navbar{
  background-color: #ffffff;
  color: rgb(32, 32, 32);
}

.ham{
  position: absolute;
  right: 0;
  padding: 1px 2px;
  margin-top: 15px;
  margin-right: 20px;
  transform: scale(2);
  border: none;
  color: black;
  cursor: pointer;
  transition: .6s;

}

.ham-container{
display: none;
}


nav.navbar {
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  display: flex;
  justify-content: unset;
  align-items: center;
  padding: 0px 32px;

}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  position: relative;
  gap: 24px;
  padding-left: 20px;
  transition: .3s ease-in-out;
}

.nav-links li a {
  text-decoration: none;
  font-size: 16px;
  background-color: #ffffff;
  color: rgb(32, 32, 32);
}

.nav-links li a:hover {
  color: #ea2525;
}

/* Responsive styles */
@media (max-width: 768px) {
  
  .bar{
    display: none;
  }

  .ham-container{
   display: flex; 
  }

  

  nav.navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    left: -1000px;
    margin-top: 16px;
  }

  .nav-links li {
    padding: 8px 0;
    width: 100%;
  }
}
