.caro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  gap: 20px;
  padding: 20px;
}

.caro .img-container {
    margin: 0 20px;
}

.caro .img-container div{
  display: flex;
  align-items: center;
  justify-content: center; 

}

.caro .img-container div p{
    bottom: -1px;
    position: absolute;
    width: calc(5 * 5vw);
}

.caro  img {
    box-shadow: 0 0 30px rgba(70, 68, 68, 0.17);
    width: 100%;
    height: auto;
    display: block;
    height: calc(16 * 5vh);
}

@media (max-width: 1440px) {
.caro {
  flex-direction: column;
 
}

.caro  img{
    height: calc(10 * 5vh);
}


}
